name: Alert parent repository on push
on: 
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    name: Dispatch to `other-repo`
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2.1.0
        with:
          # You should create a personal access token and store it in your repository
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: logigearminhduytran/receive
          event-type: sample_push
