name: Alert parent repository on push
on: 
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    name: Dispatch to `other-repo`
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Emit repository_dispatch
        with:
          # You should create a personal access token and store it in your repository
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repo: lgvn-jp-api-postman-test
          owner: mwd-tampham
          event_type: sample_push
